/*-----------------------------------------------------------------------------------------------------------------------------*/
/*Card dos Termos*/

.term {
    background-color: #222; /* Caixa mais clara que fundo */
    color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 70vh;
    box-shadow: 0 2px 5px hsla(0, 96%, 39%, 0.76);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.term:hover {
    transform: scale(1.05);
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}

body {
    background-color: black; 
    color: white;            
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;   
    width: 200vh;       
    display: flex;          
    justify-content: center; 
    align-items: center;     
    
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*Tirar sublinhados e locomoções dos Termos*/


.sem-sublinhado {
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sem-sublinhado:hover {
    transform: scale(1.05);
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}
/*-----------------------------------------------------------------------------------------*/
.bg-custom {
    background-color: #0D0D0D;
}