/* ======= RESET E BASE ======= */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: #07080a;
}

/* ======= CONTAINER E CARD ======= */
.container {
  flex: 1;
}

.card {
  border: 3px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 5px rgb(182, 182, 182);
  border-radius: 8px;
  height: 100%;
  padding: 15px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.1s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

/* ======= TEXTO E LINKS ======= */
.sem-sublinhado {
  text-decoration: none;
  color: white;
}

.text-custom {
  color: red;
}

.nav-link {
  color: #F2F2F2;
}

.nav-link:hover {
  color: #ffffff;
}

/* ======= NAVBAR E FOOTER ======= */
.bg-custom {
  background-color: #0D0D0D;
}

.navbar, .card, footer {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* ======= MAIN ======= */
main {
  background-color: #62676B;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

